<div class="footer clearfix">
    <div class="col-md-6">
        {{ site.footer_left }}
    </div>
    <div class="col-md-6">
        {{ site.footer_right }}
    </div>
</div>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script src='/js/{{ js_file }}' type="text/javascript"></script>
    {% endfor %}
{% endif %}

{% if site.google_analytics %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}
